sprite-hash = {"images/circle/blue.png":{"x":0,"y":0,"width":32,"height":32,"url":"/images/circle.png"},"images/circle/green.png":{"x":0,"y":32,"width":32,"height":32,"url":"/images/circle.png"},"images/circle/red.png":{"x":0,"y":64,"width":32,"height":32,"url":"/images/circle.png"}}
sprite(filepath, scale = 1)
  image-hash = sprite-hash[filepath]
  width: (image-hash.width * scale)px
  height: (image-hash.height * scale)px
  url = image-hash.url
  background: url(url) no-repeat
  background-position: (-1 * image-hash.x * scale)px (-1 * image-hash.y * scale)px
  if scale != 1
    background-size: (image-hash.width * scale)px, (image-hash.height * scale)px
sprite-retina(filepath)
  sprite filepath, 0.5